<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings />
        <behaviors>
            <serviceBehaviors>
                <behavior name="MetadataBehavior">
                    <serviceMetadata />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="MetadataBehavior" name="WcfService.Services.TestService">
                <endpoint address="TestService" binding="netTcpBinding" bindingConfiguration=""
                    name="TestServicePoint" contract="WcfService.ITestService" />
                <endpoint address="TestService/mex" binding="mexTcpBinding" bindingConfiguration=""
                    name="TestServiceMexPoint" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://localhost:9002" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>